<div class= "container">`
   <div class="text-center text-black">
    <h1>Louer un téléphone</h1>
    <h4></h4>
  </div>
  <div class="card-list">
      <% @phones.each do |phone| %>
        <%= link_to phone_path(phone) do %>
          <div class="card-trip">
            <img src="https://boulanger.scene7.com/is/image/Boulanger/bfr_overlay?layer=comp&$t1=&$product_id=Boulanger/0190198457639_h_f_l_0&wid=350&hei=350" />
            <div class="card-trip-infos">
            <div>
              <h3><%= phone.model %></h3>
              <p>Ce model est fait pour vous!</p>
            </div>
              <h2 class="card-trip-pricing">99.99€/mois</h2>
              <img src="https://res.cloudinary.com/dekexda28/image/upload/v1621434740/IMG_7481_cbls8b.jpg" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
