 <!--   <div class="overlay"></div> -->
   <!--  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/Vd3bj2jPe/videoblocks-closeup-blonde-girl-using-smartphone-in-nightclub-portrait-of-smiling-female-person-holding-phone-on-neon-lights-background-cheerful-woman-making-video-on-mobile-phone-under-confetti-at-party_rkbha6dod__e3865c503db32951cc97e991da340d8c__P360.mp4">
    </video> -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/ToMjGpJ4jULsUli8yxW/giphy.gif); zoom-out:1.5;">
  <div class="container h-200">
    <div class="d-flex h-50 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-4">BIENVENUE SUR LA PAGE DE RESERVATION</h1>
        <p class="lead mb-0">
          Plus qu'une étape pour avoir ton téléphone
        </p>
        <div class="container">
          <div class="f p-4 m-5 align-self-center">
            <div class="w-100 h-0 text-white">
              <%= simple_form_for [ @phone, @booking ] do |f| %>
              <%= f.input :start_booking %>
              <%= f.input :end_booking %>
              <%= f.submit "Reserver", class: "btn btn-primary mt-3"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="logo">
      <h4>BATMOBILE</h4>
    </div> -->


     <!--  <form action="/phones" accept-charset="UTF-8" method="get">
        <input type="text" name="brand" id="brand" class="form-control mb-3" placeholder="Marque">
        <select name="model" id="model" class="form-control" placeholder="Modèle"><option value="Modèle">Modèle</option>
<option value="Iphone X">Iphone X</option>
<option value="Iphone 11">Iphone 11</option>
<option value="Iphone 12">Iphone 12</option>
<option value="Galaxy">Galaxy</option>
<option value="Note">Note</option>
<option value="Star">Star</option>
<option value="P10">P10</option></select>
        <input type="submit" name="commit" value="Rechercher" class="btn btn-primary mt-3" data-disable-with="Rechercher">
</form> -->
<!--
<section class="my-2">
  <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
         <div class="col-md-4 col-lg-12">
            <h2 class="mb-3">RESERVATION</h2>
            <form class="needs-validation" novalidate="">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Prénoms
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Nom de famille
                  </div>
                </div>

                <div class="col-12">
                  <label for="username" class="form-label">Identifiant</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="username" placeholder="Username" required="">
                  <div class="invalid-feedback">
                      Votre identifiant est recquis.
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Mèl <span class="text-muted">(Obligatoire)</span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Pourriez-vous avoir l'obligeance d'écrire un Mèl adéquate.
                  </div>
                </div>

                <div class="col-12">
                  <label for="address" class="form-label">Adresse de livraison</label>
                  <input type="text" class="form-control" id="address" placeholder="3 rue du doigt" required="">
                  <div class="invalid-feedback">
                    Veuillez avoir l'amabilité de bien mettre ici l'adresse de livraison de votre téléphone de PROLO!
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="address" class="form-label">Produit sélectionné</label>
                  <input type="text" class="form-control" id="address" placeholder="Apple-Iphone-10-S gris" required="">
                  <div class="invalid-feedback">
                    Veuillez avoir l'amabilité de bien mettre ici votre type de téléphone de PROLO!
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="state" class="form-label">Date de début de location</label>
                  <input class="datepicker" data-date-format="mm/dd/yyyy">
                </div>

                <div class="col-md-4">
                  <label for="state" class="form-label">Date de fin de location</label>
                  <input class="datepicker" data-date-format="mm/dd/yyyy">
                </div>


              </div>

              <hr class="my-4">

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="same-address">
                <label class="form-check-label" for="same-address">L'adresse de livraison est la même que l'adresse de facturation</label>
              </div>

              <hr class="my-4">

              <h4 class="mb-3">Paiement</h4>

              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                  <label class="form-check-label" for="credit">Carte de crédit</label>
                </div>

                <div class="form-check">
                  <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" for="paypal">PayPal</label>
                </div>
              </div>

              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Nom sur la carte</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Nom du propriétaire de la carte
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Numéro de carte</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                  <div class="invalid-feedback">
                    numéro de carte
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="cc-expiration" class="form-label">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                  <div class="invalid-feedback">
                    date d'expiration
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                  <div class="invalid-feedback">
                    code de sécurité
                  </div>
                </div>
              </div>

              <hr class="my-4">

              <button class="w-100 btn btn-primary btn-lg" type="submit">Valider la réservation</button>
            </form>
          </div>

            </div>
       </div>
      </div>
    </div>
</section>
 -->
