<div class="jumbotron text-center">
  <h1 class="display-3">Merci pour votre commande <%= current_user.first_name %></h1>
  <p class="lead"><strong>Votre super téléphone</strong> sera bientôt livré.</p>
  <hr>
  <p>
   Un problème? <a class= 'contact' href="">Contactez-nous</a>
  </p>
  <p>
   <%= link_to 'Voir mes réservations', bookings_path, class: "btn btn-primary"%>
   </p>
  <p class="lead">
    <%= link_to 'retourner au menu', root_path, class:"btn btn-primary" %>
  </p>
</div>
