<div class="jumbotron text-center">
  <h1 class="display-3">Merci pour votre commande <%= current_user.username %></h1>
  <p class="lead"><strong>Votre superbe téléphone</strong> sera bientôt livré</p>
  <hr>
  <p>
   Un problème? <a class= 'contact' href="">Contactez-nous</a>
  </p>
  <p class="lead">
    <button class="btn btn-primary btn-sm btn-color"  role="button"><%= link_to 'retourner au menu', root_path %></button>
  </p>
</div>
