<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dekexda28/image/upload/v1621351558/banner_gzz6ec.jpg);">
  <div class="container">
    <div class="logo">
      <h1>BATMOBILE</h1>
    </div>
    <h2> Tu as besoin rapidement d'un téléphone ? <strong>Loues-le !</strong>!</h2>
    <p>Choisis le modèle ou la marque recherchée</p>

    <div class="f p-4 mt-4 text-center">
      <%= form_tag phones_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Modèle/marque"%>
          <%= submit_tag "Rechercher", class: "mt-3 p-2 btn btn-primary bouton"%>
      <% end %>
    </div>
  </div>
</div>
