<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dekexda28/image/upload/v1621351558/banner_gzz6ec.jpg);">
  <div class="container">
    <div class="logo">
      <h1>BATMOBILE</h1>
    </div>
    <h2> Tu as besoin rapidement d'un téléphone ? <strong>Loues-le !</strong>!</h2>
    <p>Choisis le modèle ou la zone géographique recherchée.</p>

    <div class="f p-4 mt-4">
      <%= form_tag phones_path, method: :get do %>
        <%= text_field_tag :brand,
          params[:brand],
          class: "form-control mb-3",
          placeholder: "Marque"
        %>
        <%= select_tag :model,
          options_for_select(['Iphone X', 'Iphone 11', 'Iphone 12', 'Galaxy', 'Galaxy Note', 'Star', 'P10', 'Iphone XR', 'Iphone 8', 'Iphone SE', 'Iphone 12 pro', 'Iphone XS max', 'P20', 'P30']),
          class: "form-control",
          placeholder: "Modèle"
        %>
        <%= submit_tag "Rechercher", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
