.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   display: grid;
  //display: block;
  float: relative-right;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
  height: 550px;
  width: 90%;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 40px;
}

.card-product img {
    height: 200%;
    width: 450px;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top: 50px;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
  font-size: 18px;
}

.card-product h1 {
  margin-top: 0;
  position: relative;
  bottom: 90px;
  left: 220px;
  font-size: 50px;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-bottom: 20px;
}

.prix-reservation-info {
  margin: 20px;
  padding: 20px;
  position: relative;
  left: 130px;
  top: 50px;
  border-radius: 8px;
  background-color: #404039;
  border: 2px solid #FFD32B;
  color: white;
  display: flex;
}

.prix {
  margin-bottom: 30px;
  border-radius: 5px;
  border: 3px solid $yellow;
}

.card-model{
  border-radius: 8px;
  background-color: #404039;
  border: 2px solid #FFD32B;
  color: white;
  display: flex;
}

.card-infos{
  border-radius: 8px;
  background-color: #404039;
  border: 2px solid #FFD32B;
  color: white;
  display: flex;

}




